.footer {
  margin-top: 200px;
  padding-top: 28px;
  background-color: #FFF;
  height: 100px;
  ul {
    color: #231f20;
    font-size: 16px;
    font-weight: bold;
    list-style: none;
    li {
      padding: 0 32px;
    }
  }
}

.copyright {
  color: #79939b;
  font-size: 14px;
}




@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .footer ul li {
      padding: 0 10px;
    }
}
