@import url('https://fonts.googleapis.com/css?family=Raleway:100,300,400,700');

h1 {
  font-weight: 300;
  font-size: 72px;
  background: linear-gradient(to left, #e12c75 20%, #2f8ca7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

p {
  font-weight: 700;
  font-size: 14px;
  color: #2f8ca7;
  margin: 0px;
}

.padded {
  padding: 96px 0;
}

.left {
  left: 0;
}

.right {
  right: 0;
}
