<nav class="my-navbar">
  <div class="items border-right">
    <div class="menu-item"><i class="fa fa-2x fa-bars" aria-hidden="true"></i></div>
    <p class="menu-item">MENU</p>
  </div>
  <div class="items border-left">
    <p><i class="fa fa-2x fa-search" aria-hidden="true"></i></p>
  </div>
</nav>
