<div id="myCarousel" class="carousel slide">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for Slides -->
  <div class="carousel-inner">
    <div class="item active">
      <!-- Set the first background image using inline CSS below. -->
      <div class="fill" style="background-image:url('#');"></div>
      <div class="carouselcaption">
        <h2>1</h2>
      </div>
    </div>
    <div class="item">
      <!-- Set the second background image using inline CSS below. -->
      <div class="fill" style="background-image:url('#');"></div>
      <div class="carouselcaption">
        <h2>2</h2>
      </div>
    </div>
    <div class="item">
      <!-- Set the third background image using inline CSS below. -->
      <div class="fill" style="background-image:url('#');"></div>
      <div class="carouselcaption">
        <h2>3</h2>
      </div>
    </div>

    <a class="left carouselcontrol" href="#myCarousel" data-slide="prev">
    </a>
    <a class="right carouselcontrol" href="#myCarousel" data-slide="next">
    </a>

  </div>
</div>
