<div class="container text-center">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 padded">
      <h1>Beautiful products for beautiful homes</h1>
    </div>
  </div>
  <div class="padded-bottom">
    <%= partial 'carousel' %>
  </div>
  <div class="row">
    <% 6.times do %>
    <div class="col-xs-12 col-sm-6 col-md-4 padded-bottom">
      <div class="card" style="background-image: url('#');">
        <a class="card-link" href="#" ></a>
      </div>
    </div>
    <% end %>
  </div>
</div>


